@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        &#128293;&#128293;
        LIGA PRO&#128293;
        &#128293;
    </h1>
    <img src="https://i.pinimg.com/originals/20/17/8f/20178f5a214eab853c8190ef4b4980e5.jpg" alt="Icono de fútbol" style="width: 400px; height: auto;">
</div>
